{% extends 'blogapp/base.html' %}

{% block content %}

<!-- templates/blog/create_post.html -->
<div class="container">
    <h2 class="mb-4">Create New Post</h2>
    <p>paste clean html with content if image there give image src link also height and width for best fit other wise
        image will be oversized</p>
    <div class="card p-4">
        <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="mb-3">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Publish</button>
        </form>
    </div>
</div>


{% endblock %}